.back_to_top {
    background-color: var(--yellow);
    bottom: 150px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    height: 50px;
    opacity: 0;
    padding: 10px;
    position: fixed;
    pointer-events: none;
    right: 45px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    width: 50px;
    z-index: 10;
}

.back_to_top img {
    width: 100%;
    height: 100%;
}

.back_to_top.visible {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.whatsapp_button {
    bottom: 40px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    height: 75px;
    position: fixed;
    right: 35px;
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.whatsapp_button img {
    height: 100%;
    width: 100%;
}

.contact_button {
    align-items: center;
    bottom: 55px;
    background-color: var(--yellow);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    color: black;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    gap: 10px;
    height: fit-content;
    justify-content: center;
    position: fixed;
    padding: 10px 20px;
    right: 140px;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    z-index: 10;
}

.contact_button img {
    width: 25px;
    height: 25px;
}

.contact_button:hover {
    cursor: pointer;
}

.extra:hover {
    transform: scale(1.05);
}

.contact_popup {
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.contact_popup.show {
  display: flex;
}

.popup_content {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  padding: 30px;
  position: relative;
  width: 700px;
}

.close_popup {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.form_toggle {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.form_toggle button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  margin-top: 30px;
  padding: 10px;
}

.form_toggle button.selected {
  background-color: var(--yellow);
  color: black;
}

.form_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_section p {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
  text-align: center;
  width: 90%;
}

.form_section input {
  align-self: center;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  margin: 5px 0;
  padding: 0 10px;
  width: 100%;
}

.form_section div, .form_section label {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.form_section .text-label {
  align-items: self-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  width: 90%;
}

.form_section input[type="radio"] {
  width: auto;
  margin-right: 10px;
  box-shadow: none;
  }

.hidden {
  display: none;
}

.form_section button {
  background-color: var(--yellow);
  border: none;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  margin-top: 20px;
  width: 100%;
}

.warning {
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
}

.warning.show {
  display: flex;
}

.warning_content {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  margin: auto auto;
  padding: 30px;
  position: relative;
  width: 700px;
}